<div class="sidebar">

<div class="logo">

<h2>Yukti-AI</h2>

<p>Enterprise CRM</p>

</div>

<a href="{{ url_for('dashboard') }}">
🏠 Dashboard
</a>

<a href="{{ url_for('leads') }}">
👥 Leads
</a>

<a href="{{ url_for('crm') }}">
📦 CRM
</a>

<a href="{{ url_for('projects') }}">
📁 Projects
</a>

<a href="{{ url_for('users') }}">
📁 Users
</a>

<a href="{{ url_for('reports') }}">
📊 Reports
</a>
														
<a href="{{ url_for('analytics') }}">
📈 Analytics
</a>

<a href="{{ url_for('ai') }}">
🤖 AI Assistant
</a>

<a href="{{ url_for('settings') }}">
⚙ Settings
</a>

<a href="{{ url_for('logout') }}">
🚪 Logout
</a>

</div>																																																																										