<div class="tablebox">

<h2>🖥 System Health</h2>

<table>

<tr>
<th>Service</th>
<th>Status</th>
</tr>

<tr>
<td>Python Service</td>
<td><span class="green">🟢 Running</span></td>
</tr>

<tr>
<td>Scheduler</td>
<td><span class="green">🟢 Active</span></td>
</tr>

<tr>
<td>Google Sheet</td>
<td><span class="green">🟢 Connected</span></td>
</tr>

<tr>
<td>Old CRM</td>
<td><span class="green">🟢 Online</span></td>
</tr>

<tr>
<td>In4 CRM</td>
<td><span class="yellow">🟡 Waiting API</span></td>
</tr>

<tr>
<td>Power BI</td>
<td><span class="green">🟢 Refreshed</span></td>
</tr>

<tr>
<td>Email Service</td>
<td><span class="green">🟢 Connected</span></td>
</tr>

<tr>
<td>Internet</td>
<td><span class="green">🟢 Connected</span></td>
</tr>

</table>

</div>